.thleft {
    text-align: left;
    vertical-align: middle!important;
}

.thcenter {
    text-align: center;
    vertical-align: middle!important;
}

.thright {
    text-align: right;
    vertical-align: middle!important;
}

.tdleft {
    text-align: left;
    vertical-align: middle!important;
}

.tdcenter {
    text-align: center;
    vertical-align: middle!important;
}

.tdright {
    text-align: right;
    vertical-align: middle!important;
}

