@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理中心</title>
    <link href="~/Areas/Admin/skin/default/style.css" rel="stylesheet" />
</head>
<body class="mainbody">
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
        <a class="home"><i></i><span>首页</span></a>
        <i class="arrow"></i>
        <span>管理中心</span>
    </div>
    <!--/导航栏-->
    <!--内容-->
    <div class="line10"></div>
    <div class="nlist-1">
        <ul>
            <li>本次登录IP：-</li>
            <li>上次登录IP：-</li>
            <li>上次登录时间：-</li>
        </ul>
    </div>
    <div class="line10"></div>

    <div class="nlist-2">
        <h3><i></i>站点信息</h3>
        <ul>
            <li>站点名称：WorkData</li>
            <li>公司名称：WorkData</li>
            <li>网站域名：</li>
            <li>安装目录：/</li>
            <li>网站管理目录：admin</li>
            <li>附件上传目录：upload</li>
            <li>服务器名称：</li>
            <li>服务器IP：::1</li>
            <li>NET框架版本：</li>
            <li>操作系统：</li>
            <li>IIS环境：</li>
            <li>服务器端口：</li>
            <li>目录物理路径：</li>
            <li>系统版本：</li>
        </ul>
    </div>
    <div class="line20"></div>
</body>
</html>