<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="${basedir}/logs/nlog-internal.log" >

  <targets>
    <target xsi:type="File" name="businessLog" createDirs="true" autoFlush="true" encoding="UTF-8" 
            archiveAboveSize="1048576" fileName="${basedir}/logs/业务日志/business.log"
            layout="${longdate} ${level}#${message}"    />
    <target xsi:type="File" name="systemLog" createDirs="true" autoFlush="true" encoding="UTF-8"
            archiveAboveSize="1048576" fileName="${basedir}/logs/系统日志/system.log"
            layout="${longdate} [${level}] ${message}"   />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger enabled="true" minlevel="Debug" writeTo="businessLog" name="businessLog" />
    <logger enabled="true" minlevel="Debug" writeTo="systemLog" name="systemLog" />
  </rules>
</nlog>