USE [master]
GO
/****** Object:  Database [WorkData]    Script Date: 2016/11/9 14:11:44 ******/
CREATE DATABASE [WorkData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WorkData.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WorkData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WorkData_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkData]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EF_OPERATION]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_OPERATION](
	[OPERATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EF_OPERATION] PRIMARY KEY CLUSTERED 
(
	[OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_PRIVILEGE]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_PRIVILEGE](
	[PRIVILEGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
	[OPERATION_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EF_PRIVILEGE] PRIMARY KEY CLUSTERED 
(
	[PRIVILEGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_RESOURCE]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_RESOURCE](
	[RESOURCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [int] NULL,
	[RESOURCE_NAME] [nvarchar](50) NOT NULL,
	[RESOURCE_URL] [nvarchar](200) NULL,
	[LAYER] [int] NOT NULL,
	[IS_LOCK] [bit] NOT NULL,
	[RESOURCE_IMG] [nvarchar](200) NULL,
	[SORT] [int] NOT NULL,
	[HAS_LEVEL] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EF_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_ROLE]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[CODE] [nvarchar](50) NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EF_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_ROLE_PRIVILEGE]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_ROLE_PRIVILEGE](
	[ROLE_ID] [int] NOT NULL,
	[PRIVILEGE_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EF_ROLE_PRIVILEGE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC,
	[PRIVILEGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_USER]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](250) NOT NULL,
	[IS_LOCK] [bit] NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[CELL_PHONE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[Qq] [nvarchar](50) NULL,
	[WEICHAT_NUMBER] [nvarchar](max) NULL,
	[ADD_TIME] [datetime] NULL,
	[SALT] [nvarchar](5) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.EF_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_USER_ROLE]    Script Date: 2016/11/9 14:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_USER_ROLE](
	[USER_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EF_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EF_OPERATION] ON 

GO
INSERT [dbo].[EF_OPERATION] ([OPERATION_ID], [NAME], [CODE], [STATUS]) VALUES (1, N'新增', N'Add', 1)
GO
INSERT [dbo].[EF_OPERATION] ([OPERATION_ID], [NAME], [CODE], [STATUS]) VALUES (2, N'全选', N'All', 1)
GO
INSERT [dbo].[EF_OPERATION] ([OPERATION_ID], [NAME], [CODE], [STATUS]) VALUES (3, N'删除', N'Remove', 1)
GO
SET IDENTITY_INSERT [dbo].[EF_OPERATION] OFF
GO
SET IDENTITY_INSERT [dbo].[EF_PRIVILEGE] ON 

GO
INSERT [dbo].[EF_PRIVILEGE] ([PRIVILEGE_ID], [RESOURCE_ID], [OPERATION_ID]) VALUES (1, 8, 1)
GO
INSERT [dbo].[EF_PRIVILEGE] ([PRIVILEGE_ID], [RESOURCE_ID], [OPERATION_ID]) VALUES (2, 4, 1)
GO
INSERT [dbo].[EF_PRIVILEGE] ([PRIVILEGE_ID], [RESOURCE_ID], [OPERATION_ID]) VALUES (3, 4, 2)
GO
SET IDENTITY_INSERT [dbo].[EF_PRIVILEGE] OFF
GO
SET IDENTITY_INSERT [dbo].[EF_RESOURCE] ON 

GO
INSERT [dbo].[EF_RESOURCE] ([RESOURCE_ID], [PARENT_ID], [RESOURCE_NAME], [RESOURCE_URL], [LAYER], [IS_LOCK], [RESOURCE_IMG], [SORT], [HAS_LEVEL]) VALUES (1, 0, N'控制面板', NULL, 0, 0, NULL, 1, 1)
GO
INSERT [dbo].[EF_RESOURCE] ([RESOURCE_ID], [PARENT_ID], [RESOURCE_NAME], [RESOURCE_URL], [LAYER], [IS_LOCK], [RESOURCE_IMG], [SORT], [HAS_LEVEL]) VALUES (2, 1, N'界面管理', NULL, 1, 0, NULL, 1, 1)
GO
INSERT [dbo].[EF_RESOURCE] ([RESOURCE_ID], [PARENT_ID], [RESOURCE_NAME], [RESOURCE_URL], [LAYER], [IS_LOCK], [RESOURCE_IMG], [SORT], [HAS_LEVEL]) VALUES (3, 1, N'系统用户', NULL, 1, 0, NULL, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[EF_RESOURCE] OFF
GO
SET IDENTITY_INSERT [dbo].[EF_ROLE] ON 

GO
INSERT [dbo].[EF_ROLE] ([ROLE_ID], [NAME], [CODE], [STATUS]) VALUES (1, N'超级管理员', N'administrator', 1)
GO
SET IDENTITY_INSERT [dbo].[EF_ROLE] OFF
GO
INSERT [dbo].[EF_ROLE_PRIVILEGE] ([ROLE_ID], [PRIVILEGE_ID]) VALUES (1, 1)
GO
INSERT [dbo].[EF_ROLE_PRIVILEGE] ([ROLE_ID], [PRIVILEGE_ID]) VALUES (1, 2)
GO
INSERT [dbo].[EF_ROLE_PRIVILEGE] ([ROLE_ID], [PRIVILEGE_ID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[EF_USER] ON 

GO
INSERT [dbo].[EF_USER] ([USER_ID], [LOGIN_NAME], [PASSWORD], [IS_LOCK], [NAME], [CELL_PHONE], [EMAIL], [ADDRESS], [Qq], [WEICHAT_NUMBER], [ADD_TIME], [SALT]) VALUES (4, N'wulaiwei', N'7269C68AB93BA6ADBD954E1473BDABE7', 0, N'吴来伟', N'13688005422', N'1434335439@qq.com', N'四川成都', NULL, N'wlwzyxxy', NULL, N'JJR6J')
GO
SET IDENTITY_INSERT [dbo].[EF_USER] OFF
GO
/****** Object:  Index [IX_OPERATION_ID]    Script Date: 2016/11/9 14:11:44 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_ID] ON [dbo].[EF_PRIVILEGE]
(
	[OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RESOURCE_ID]    Script Date: 2016/11/9 14:11:44 ******/
CREATE NONCLUSTERED INDEX [IX_RESOURCE_ID] ON [dbo].[EF_PRIVILEGE]
(
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRIVILEGE_ID]    Script Date: 2016/11/9 14:11:44 ******/
CREATE NONCLUSTERED INDEX [IX_PRIVILEGE_ID] ON [dbo].[EF_ROLE_PRIVILEGE]
(
	[PRIVILEGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ROLE_ID]    Script Date: 2016/11/9 14:11:44 ******/
CREATE NONCLUSTERED INDEX [IX_ROLE_ID] ON [dbo].[EF_ROLE_PRIVILEGE]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ROLE_ID]    Script Date: 2016/11/9 14:11:44 ******/
CREATE NONCLUSTERED INDEX [IX_ROLE_ID] ON [dbo].[EF_USER_ROLE]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ID]    Script Date: 2016/11/9 14:11:44 ******/
CREATE NONCLUSTERED INDEX [IX_USER_ID] ON [dbo].[EF_USER_ROLE]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EF_PRIVILEGE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_PRIVILEGE_dbo.EF_OPERATION_OPERATION_ID] FOREIGN KEY([OPERATION_ID])
REFERENCES [dbo].[EF_OPERATION] ([OPERATION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_PRIVILEGE] CHECK CONSTRAINT [FK_dbo.EF_PRIVILEGE_dbo.EF_OPERATION_OPERATION_ID]
GO
ALTER TABLE [dbo].[EF_PRIVILEGE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_PRIVILEGE_dbo.EF_RESOURCE_RESOURCE_ID] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[EF_RESOURCE] ([RESOURCE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_PRIVILEGE] CHECK CONSTRAINT [FK_dbo.EF_PRIVILEGE_dbo.EF_RESOURCE_RESOURCE_ID]
GO
ALTER TABLE [dbo].[EF_ROLE_PRIVILEGE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_ROLE_PRIVILEGE_dbo.EF_PRIVILEGE_PRIVILEGE_ID] FOREIGN KEY([PRIVILEGE_ID])
REFERENCES [dbo].[EF_PRIVILEGE] ([PRIVILEGE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_ROLE_PRIVILEGE] CHECK CONSTRAINT [FK_dbo.EF_ROLE_PRIVILEGE_dbo.EF_PRIVILEGE_PRIVILEGE_ID]
GO
ALTER TABLE [dbo].[EF_ROLE_PRIVILEGE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_ROLE_PRIVILEGE_dbo.EF_ROLE_ROLE_ID] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[EF_ROLE] ([ROLE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_ROLE_PRIVILEGE] CHECK CONSTRAINT [FK_dbo.EF_ROLE_PRIVILEGE_dbo.EF_ROLE_ROLE_ID]
GO
ALTER TABLE [dbo].[EF_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_ROLE_ROLE_ID] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[EF_ROLE] ([ROLE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_USER_ROLE] CHECK CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_ROLE_ROLE_ID]
GO
ALTER TABLE [dbo].[EF_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_USER_USER_ID] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[EF_USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_USER_ROLE] CHECK CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_USER_USER_ID]
GO
USE [master]
GO
